<h1>Editing rubygem</h1>
<%= render "form", rubygem: @rubygem %>
<br>
<div>
  <%= link_to "Show this rubygem", [@rubygem.server, :rubygem, @rubygem.name] %> |
  <%= link_to "Back to rubygems", rubygems_path %>
</div>
