<p style="color: green"><%= notice %></p>
<h1>Rubygems</h1>
<div id="rubygems">
  <% @rubygems.each do |rubygem| %>
    <%= render rubygem %>
    <p>
      <%= link_to "Show this rubygem", rubygem.name %> |
    </p>
  <% end %>
</div>
<%== pagy_nav(@pagy) if @pagy.pages > 1 %>
